/* styles.css */

/* General styles */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 20px;
}

#gameContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  border: 1px solid #000;
}

.grid-square {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  box-sizing: border-box;
  background-color: white; 
}